@{
    ViewData["Title"] = "Not Found";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="mt-5">404 - Not Found</h1>
            <p class="lead">The requested page could not be found.</p>
            <a asp-controller="Movies" asp-action="Index" class="btn btn-primary">Go Home</a>
        </div>
    </div>
</div>
