@model Cinema

@{
    ViewData["Tital"] = "Add a New Cinema";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10">
            <div class="card border-0">
                <div class="card-body">
                    <h1 class="card-title text-center mb-4">Add a New Cinema</h1>
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-group text-center">
                            <img id="LogoPreview" class="border-info rounded-circle" style="max-width: 150px; max-height: 150px" />
                        </div>
                        <div class="form-group">
                            <label asp-for="Logo" class="control-label"></label>
                            <input asp-for="Logo" class="form-control" />
                            <span asp-validation-for="Logo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description" class="control-label"></label>
                            <input asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <br />
                        <div class="form-group">
                            <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                            <input type="submit" value="Create" class="btn btn-outline-success float-end" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts{
    <script>

        $(document).ready(function () {
            var output = document.getElementById('LogoPreview');
            output.src = $("#Logo").val();
        })

        $("#Logo").on("change", function () {
            var output = document.getElementById('LogoPreview');
            output.src = $(this).val();
        })
    </script>
}